@using System.Collections
<div class="jumbotron">
    <h1>BookService</h1>
    <p class="lead">VERSION 2 BookService is the premier SaaS offering for managing Books <em>and</em> Authors.</p>
    <p><a href="http://pivotal.io" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>App Environment Variables</h2>
        <table class="table table-striped table-condensed">
            <thead>
                <tr><td>Name</td><td>Value</td></tr>
            </thead>
            <tbody>
                @foreach (DictionaryEntry env in System.Environment.GetEnvironmentVariables())
                {<tr><td style="word-break: break-word">@env.Key</td><td style="word-break: break-word">@env.Value</td></tr> }
            </tbody>
        </table>
    </div>
</div>
